WebApplication1/Connected Services/GetProductService/test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetALLProduct">
        <s:complexType />
      </s:element>
      <s:element name="GetALLProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetALLProductResult" type="tns:ArrayOfProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QuantityPerUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitsInStock" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitsOnOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReorderLevel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Discontinued" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculation">
        <s:complexType />
      </s:element>
      <s:element name="GetCalculationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCalculationResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetALLProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetALLProduct" />
  </wsdl:message>
  <wsdl:message name="GetALLProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetALLProductResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="GetCalculationSoapIn">
    <wsdl:part name="parameters" element="tns:GetCalculation" />
  </wsdl:message>
  <wsdl:message name="GetCalculationSoapOut">
    <wsdl:part name="parameters" element="tns:GetCalculationResponse" />
  </wsdl:message>
  <wsdl:portType name="testSoap">
    <wsdl:operation name="GetALLProduct">
      <wsdl:input message="tns:GetALLProductSoapIn" />
      <wsdl:output message="tns:GetALLProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCalculation">
      <wsdl:input message="tns:GetCalculationSoapIn" />
      <wsdl:output message="tns:GetCalculationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="testSoap" type="tns:testSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetALLProduct">
      <soap:operation soapAction="http://tempuri.org/GetALLProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalculation">
      <soap:operation soapAction="http://tempuri.org/GetCalculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="testSoap12" type="tns:testSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetALLProduct">
      <soap12:operation soapAction="http://tempuri.org/GetALLProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalculation">
      <soap12:operation soapAction="http://tempuri.org/GetCalculation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="test">
    <wsdl:port name="testSoap" binding="tns:testSoap">
      <soap:address location="http://localhost:65084/test.asmx" />
    </wsdl:port>
    <wsdl:port name="testSoap12" binding="tns:testSoap12">
      <soap12:address location="http://localhost:65084/test.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>